@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>Volkerbook</h1>*@

        <img class="indeximg" src="~/images/volkerbook.png"/>
    <br>
    <br>
    <p class="lead">Volkerbook allows VolkerRail workers to seamlessly stay in touch by providing an interface for finding contact numbers.</p>
    <p><a href='@Url.Action("Search", "Member")' class="btn btn-primary btn-lg">Search &raquo;</a></p>
</div>